<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dx2 真女神轉生 Liberation 二身合體 / Dx2 真女神転生 リベレーション 二身合体 / Dx2 Megamitensei Normal Fusion">
    <meta name="keywords" content="女神転生, メガテン, リベレーション, 合体, 女神轉生, 合體, Megamitensei, Megaten, Dx2, Liberation, Fusion, Simulator">
    <link rel="icon" href="images/theme/favicon.ico">
    <title>Dx2 二身合体</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css"/>
    <style>
    [v-cloak] {
      display: none;
    }
    .element-orb{
        border-radius: 50%;
        width:20px;
        height:20px;
    }
    .element-orb.light{
        background-color:gold;
    }
     /* Extra Small Devices, Phones */ 
     @media (max-width: 575.98px) {

    }

    /* Small Devices, Tablets */
    @media (min-width: 576px) and (max-width: 767.98px) {

    }

    /* Medium Devices, Desktops */
    @media (min-width: 768px) and (max-width: 991.98px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }

    /* Large Devices, Wide Screens */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }
    /* Extra Large Devices */
    @media (min-width: 1200px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }
    *:focus{
        outline:none;
    }
    </style>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap-vue.min.js"></script>
    <script src="js/vue-i18n.min.js"></script>
    
</head>

<body>

    <!--Main-->
    <div class="container-fluid px-0" style="max-width:1920px" id="app" v-cloak>

        <b-card no-body>
            <b-tabs card v-model="tabIndex" content-class="p-2">

                <!--tab1 devil-->

                <b-tab :title="$t('message.devil')" no-body>
                    
                    <b-form-input v-model="keyword" type="text" :placeholder="$t('message.search')"></b-form-input>

                    <b-card no-body v-show="keyword==''" class="mt-2">
                        <b-tabs pills card>
                            <b-tab :title="race.showName()" v-for="race in races" no-body>
                                <devil-list :devils="race.devils" usage="fission"></devil-list>
                            </b-tab>
                        </b-tabs>
                    </b-card>

                    <b-card no-body v-show="keyword">
                        <devil-list :devils="filtered_devil_data" usage="fission"></devil-list>
                    </b-card>

                </b-tab>

                <!--tab2 fission/builder-->
                
                <b-tab :title="$t('message.reverse')" no-body>
                    <b-card no-body v-if="builder_target">
                        <b-list-group flush>
                            <b-list-group-item class="p-2">
                                <h6 class="m-0"><b-badge variant="secondary"> Total MAG </b-badge> {{ builder_total_mag_pure }} ~ {{ builder_total_mag }}</h6>
                            </b-list-group-item>    
                            <b-list-group-item class="p-2">
                                <devil-bom-builder :bom="builder_target" usage="builder"></devil-bom-builder>
                            </b-list-group-item>
                            <b-list-group-item class="p-0">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-auto p-2">
                                        <b-button v-for="option in builder_rarity_options" :pressed.sync="option.state" variant="outline-secondary" class="m-1">
                                            {{ option.caption }}
                                        </b-button>
                                    </div>
                                </div>
                            </b-list-group-item>
                            <b-list-group-item class="p-0" v-if="filtered_builder_options.length>0">
                                <devil-bom-options :options="filtered_builder_options" usage="builder"></devil-bom-options>
                            </b-list-group-item>
                        </b-list-group>
                    </b-card>
                </b-tab>

                <!--tab3 fusion-->

                <b-tab :title="$t('message.normal')" no-body>
                    
                    <b-card no-body v-if="fusion_target">
                        <b-list-group flush>
                            <b-list-group-item class="p-2">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-auto">
                                        <b-button v-for="option in fusion_rarity_options" :pressed.sync="option.state" variant="outline-secondary" class="m-1">
                                            {{ option.caption }}
                                        </b-button>
                                    </div>
                                </div>
                            </b-list-group-item>    
                            <b-list-group-item class="p-2">
                                
                                <div v-for="(option, index) in filtered_fusion_options">

                                    <div class="p-2">
                                        <div class="row no-gutters justify-content-center">
                                            <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                                                <devil :devil="option.devil" usage="fusion" style="cursor:pointer"
                                                    v-b-toggle="'fusion_'+index">
                                                </devil>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <b-collapse :id="'fusion_'+index" accordion="fusion_accrodion">
                                        <b-card no-body style="background-color:#eee">
                                            <devil-bom-options :options="option.formulas" usage="fusion"></devil-bom-options>
                                        </b-card>
                                    </b-collapse>
                                </div>
                                
                            </b-list-group-item>
                        </b-list-group>
                    </b-card>
                    
                </b-tab>

                <!--tab4 setting-->

                <b-tab :title="$t('message.setting')" no-body>
                
                    <div class="row no-gutters" style="background:url('images/theme/steven.png') no-repeat right; background-size:contain">
                        <div class="col-12 py-2">
                            <div class="font-weight-bold py-2">{{ $t('message.language') }}</div>
                            <div>
                                <b-form-radio-group id="lang"
                                    buttons
                                    button-variant="outline-info"
                                    v-model="lang_value"
                                    :options="lang_options"
                                    name="lang_radio">
                                    </b-form-radio-group>
                            </div>
                        </div>
                        <div class="col-12 py-2">
                            <div class="font-weight-bold py-2">{{ $t('message.downgrade_fusion') }}</div>
                            <div>
                                <b-form-radio-group id="lang"
                                    buttons
                                    button-variant="outline-info"
                                    v-model="allow_down_grade"
                                    name="lang_radio">
                                    <b-form-radio value="0">{{ $t('message.deny') }}</b-form-radio>
                                    <b-form-radio value="1">{{ $t('message.allow') }}</b-form-radio>
                                    </b-form-radio-group>
                            </div>
                        </div>
                        <div class="col-12 py-2">
                            <div class="p-1 border rounded text-center" style="background-color:rgba(200, 200, 200, 0.5);">
                                <div class="small">
                                君は私が作った悪魔召喚プログラムを使ってるね<br>
                                もし君が秩序にも混沌にも偏らず<br>
                                中庸の道を往くのなら<br>
                                私が僅かばかりだが協力してあげよう<br><br>
                                人間が持つ価値を　可能性を　私に証明してくれ<br><br>
                                スティーヴン・ホーキング (1942-2018)
                                </div>
                           </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="small text-right">Version: {{ updated_at }}</div>
                    </div>  
                    
                </b-tab>
                <b-tab  no-body title-link-class="d-none">
                    ^_>
                </b-tab>
            </b-tabs>
        </b-card>

        <div class="row no-gutters justify-content-between align-items-center">
            <div class="col-auto p-2">
                <div class="font-weight-bold">
                    <b-badge :variant="gate_status_jp?'success':'secondary'">JP {{ gate_timer_jp }}</b-badge>
                    <b-badge :variant="gate_status_ch?'success':'secondary'">CH {{ gate_timer_ch }}</b-badge>
                </div>
            </div>
            <div class="col p-0">
                <img v-if="orb.state" v-for="orb in orbs" :src="orb.icon" style="width:30px">
            </div>
        </div>
        
    </div>

    <script id="devil-t" type="text/x-template">

        <b-card no-body class="border-secondary">
            <b-card-body class="p-2" @click="click()"
                :style="{backgroundImage:'url(\'images/devil/'+devil.icon+'\')',cursor:(usage=='fission'||usage=='builder')?'pointer':''}" 
                style="background-position:right;background-repeat:no-repeat;background-size:contain">
                <div class="font-weight-bold">
                    {{usage=='fusion'||usage=='fission'?devil.race.showName():''}} {{ devil.showName() }}
                </div>
                <div class="small">
                    {{ devil.showGrade() }}
                    <span v-for="n in devil.rarity">&#9733;</span>
                </div>
            </b-card-body>

            <b-card-footer class="p-1" v-if="usage=='fission'">
                <slot></slot>
            </b-card-footer>
        </b-card>

    </script>

    <script id="devil-list-t" type="text/x-template">

        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" v-for="devil in devils">
                
                <devil :devil="devil" :usage="usage" @click="click()"
                    v-b-popover.hover.top="devil.race.showName()+' '+devil.showName()">
                    <b-button variant="sencondary" size="sm" @click="fusion(devil)" class="font-weight-bold small">{{ $t('message.normal_fusion') }}</b-button>
                    <b-button variant="warning" size="sm" @click="start_bom(devil)" class="font-weight-bold small">{{ $t('message.reverse_fusion') }}</b-button>
                </devil>

            </div>
        </div>

    </script>

    <script id="devil-bom-t" type="text/x-template">
    
        <b-card v-if="bom" no-body 
            :class="{'border-primary':bom.upgrade, 'border-danger':bom.downgrade,'border-dark':!(bom.upgrade||bom.downgrade)}"
            @click="click()">
            <div class="row no-gutters">
                <div v-for="devil in [bom.child1.devil,bom.child2.devil]" 
                    class="col-6 p-2"
                    :class="{'text-primary':bom.upgrade,'text-danger':bom.downgrade}"
                    :style="{backgroundImage:'url(\'images/devil/'+devil.icon+'\')',cursor:usage=='builder'?'pointer':''}" 
                    style="background-position:right;background-repeat:no-repeat;background-size:contain"
                    v-b-popover.hover.top="devil.race.showName()+' '+devil.showName()">
                        <div class="font-weight-bold">{{ devil.showName() }}</div>
                        <div class="small">{{ devil.showGrade() }} <span v-for="n in devil.rarity">&#9733;</span></div>
                </div>
            </div>
            <b-card-footer class="p-1 text-right">
                <span v-if="bom.mag_pure!=bom.mag"><b-badge variant="success"> 素体 </b-badge> {{ bom.showMagPure() }} </span>
                <span v-if="bom.mag>0"><b-badge variant="secondary"> MAG </b-badge> {{ bom.showMag() }} </span>
            </b-card-footer>
        </b-card>

    </script>

    <script id="devil-bom-list-t" type="text/x-template">
    
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" v-for="bom in boms">
                <devil-bom :bom="bom" :usage="usage" @click="click()"></devi-bom>
            </div>
        </div>

    </script>

    <script id="devil-bom-builder-t" type="text/x-template">
        
        <div class="row no-gutters" v-if="bom">
            <div class="col-12">
                <div class="row no-gutters justify-content-start justify-content-md-center">
                    <div class="col-auto">
                        <devil :devil="bom.devil" @click="list_bom(bom)" usage="builder" 
                            style="min-width:130px" :class="{'bg-warning':is_current()}"
                            v-b-popover.hover.top="bom.devil.race.showName()+' '+bom.devil.showName()+'\nMAG: '+bom.showMag()+'\n素体: '+bom.showMagPure()">
                        </devil>
                    </div>
                    <div class="col-auto pl-1">
                        <b-button v-if="bom.child1||bom.child2" size="sm" @click="reset_bom(bom)">X</b-button>
                    </div>
                </div>
            </div>
            <div class="col-12"></div>
            <div class="col-12 col-md-6 pl-4 pl-md-0 border-left border-left-md-none" v-if="bom.child1">
                <devil-bom-builder :bom="bom.child1"></devil-bom-builder>
            </div>
            <div class="col-12 col-md-6 pl-4 pl-md-0 border-left border-left-md-none" v-if="bom.child2">
                <devil-bom-builder :bom="bom.child2"></devil-bom-builder>
            </div>
        </div>

    </script>

    <script id="devil-bom-options-t" type="text/x-template">
        <div>
            <div v-for="option in options">
                <div class="row no-gutters">
                    <div class="col-12 p-2">
                        <h6 class="m-0">{{ option.name }}</h6>
                    </div>
                </div>
                <devil-bom-list :boms="option.boms" :usage="usage"></devil-bom-list>
            </div>
        </div>
    </script>

    <script src="js/app.js?t=180323"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71606599-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71606599-2');
</script>

</body>
</html>