<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dx2 真女神轉生 Liberation 二身合體 / Dx2 真女神転生 リベレーション 二身合体 / Dx2 Megamitensei Normal Fusion">
    <meta name="keywords" content="女神転生, メガテン, リベレーション, 合体, 女神轉生, 合體, Megamitensei, Megaten, Dx2, Liberation, Fusion, Simulator">
    <link rel="icon" href="images/theme/favicon.ico">
    <title>Dx2 二身合体</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css"/>
    <style>
    [v-cloak] {
      display: none;
    }
    .btn-outline-secondary:hover{
        color:#6c767d;
        background-color:transparent;
    }
    *:focus{
        outline:none;
    }
    /* Extra Small Devices, Phones */ 
     @media (max-width: 575.98px) {

    }

    /* Small Devices, Tablets */
    @media (min-width: 576px) and (max-width: 767.98px) {

    }

    /* Medium Devices, Desktops */
    @media (min-width: 768px) and (max-width: 991.98px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }

    /* Large Devices, Wide Screens */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }
    /* Extra Large Devices */
    @media (min-width: 1200px) {
        .border-left-md-none{
            border-left-width: 0px !important;
        }
    }
    </style>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap-vue.min.js"></script>
    <script src="js/vue-i18n.min.js"></script>
</head>

<body onbeforeunload="return window_before_unload()">

    <!--Main-->
    <div class="container-fluid px-0" style="max-width:1920px" id="app" v-cloak>
        <b-navbar toggleable="md" type="dark" variant="info">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand href="#" @click="route('home')" class="d-none d-md-block">Dx2</b-navbar-brand>
            <b-navbar-brand href="#" @click="searchBar=!searchBar" class="d-block d-md-none">{{ $t('message.search') }}</b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <b-nav-item href="#" @click="route('fusion.devil')" :active="isRoute('fusion.devil')">{{ $t('message.devil') }}</b-nav-item>
                    <b-nav-item href="#" @click="route('fusion.fission')" :active="isRoute('fusion.fission')">{{ $t('message.reverse_fusion') }}</b-nav-item>
                    <b-nav-item href="#" @click="route('fusion.fusion')" :active="isRoute('fusion.fusion')">{{ $t('message.normal_fusion') }}</b-nav-item>
                    <b-nav-item href="#" @click="route('skill')" :active="isRoute('skill')">{{ $t('message.skill') }}</b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-form action="#" class="d-none d-md-block">
                        <b-form-input v-model="keyword" type="text" :placeholder="$t('message.search')" onfocus="app.route('search',true)" onblur="if(!app.keyword)app.route('last')"></b-form-input>
                    </b-nav-form>
                    <b-nav-item href="#" @click="route('setting')" :active="isRoute('setting')">{{ $t('message.setting') }}</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-tabs v-model="index_main" nav-wrapper-class="d-none">
            <div class="d-block d-md-none p-2 bg-info" v-if="searchBar">
                <b-form-input v-model="keyword" type="text" :placeholder="$t('message.search')" onfocus="app.route('search',true)" onblur="if(!app.keyword)app.route('last')"></b-form-input>
            </div>

            <!-- index_main : 0 -->

            <b-tab no-body>

                <b-card no-body class="border-0">
                    <b-tabs card v-model="index_fusion" nav-wrapper-class="d-block d-md-none" content-class="p-2">

                        <!-- index_fusion : 0 // devil-->

                        <b-tab :title="$t('message.devil')" no-body>
                            <b-card no-body>
                                <b-tabs pills card v-model="race_id" content-class="d-none">
                                    <b-tab :title="race.showName()" v-for="race in races"></b-tab>
                                </b-tabs>
                                <devil-list :devils="devils_by_race" usage="fission"></devil-list>
                            </b-card>
                        </b-tab>

                        <!-- index_fusion : 1 // fission/builder-->

                        <b-tab :title="$t('message.reverse')" no-body>
                            <b-card no-body v-if="builder_target">
                                <b-list-group flush>
                                    <b-list-group-item class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <h5><b-badge variant="secondary"> Total MAG </b-badge> {{ builder_target.showTotalMagPure() }} ~ {{ builder_target.showTotalMag() }} </h5>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <b-button class="m-1" size="sm" variant="success" @click="builder_auto_costdown(4,0)">素★4</b-button>
                                                <b-button class="m-1" size="sm" variant="success" @click="builder_auto_costdown(3,0)">素★3</b-button>
                                                <b-button class="m-1" size="sm" variant="success" @click="builder_auto_costdown(2,0)">素★2</b-button>
                                                <b-button class="m-1" size="sm" variant="success" @click="builder_auto_costdown(1,0)">素★1</b-button>
                                                <!--
                                                <b-button class="m-1" size="sm" variant="warning" @click="builder_auto_costdown(4,1)">雜★4</b-button>
                                                <b-button class="m-1" size="sm" variant="warning" @click="builder_auto_costdown(3,1)">雜★3</b-button>
                                                -->
                                            </div>
                                        </div>
                                    </b-list-group-item>
                                    <b-list-group-item class="p-2">
                                            <devil-bom-builder :bom="builder_target" usage="builder"></devil-bom-builder>
                                    </b-list-group-item>
                                    <b-list-group-item class="p-0" v-if="builder_options.length">
                                        <div class="row no-gutters justify-content-center">
                                            <div class="col-auto p-1" v-for="option in builder_rarity_options" v-if="option.active">
                                                <b-button :pressed.sync="option.state"
                                                    @click="builder_rarity_option_click(option)"
                                                    variant="outline-secondary">
                                                    {{ option.text }}
                                                </b-button>
                                            </div>
                                        </div>
                                    </b-list-group-item>
                                    <b-list-group-item class="p-0" v-if="filtered_builder_options.length>0">
                                        <devil-bom-options :options="filtered_builder_options" usage="builder"></devil-bom-options>
                                    </b-list-group-item>
                                </b-list-group>
                            </b-card>
                        </b-tab>

                        <!-- index_fusion : 2 // fusion-->

                        <b-tab :title="$t('message.normal')" no-body>

                            <b-card no-body v-if="fusion_target">
                                <b-list-group flush>
                                    <b-list-group-item class="p-2" v-if="fusion_options.length">
                                        <div class="row no-gutters justify-content-center">
                                            <div class="col-auto p-1"
                                            v-for="option in fusion_rarity_options"
                                            v-if="option.active">
                                                <b-button :pressed.sync="option.state" 
                                                    @click="fusion_rarity_option_click(option)"
                                                    variant="outline-secondary">
                                                    {{ option.text }}
                                                </b-button>
                                            </div>
                                        </div>
                                    </b-list-group-item>    
                                    <b-list-group-item class="p-2" v-if="filtered_fusion_options.length">

                                        <div class="row no-gutters">
                                            <div v-for="(option, index) in filtered_fusion_options"
                                                class="col-12"
                                                :class="{'col-md-6':!option.active, 'col-lg-4':!option.active, 'col-xl-3':!option.active}">

                                                <div class="row no-gutters">
                                                    <div class="col-12 p-2"
                                                        :class="{'col-md-6':option.active, 'col-lg-4':option.active, 'col-xl-3':option.active}">
                                                        <devil :devil="option.devil" usage="fusion" style="cursor:pointer"
                                                            v-b-toggle="'fusion_'+index">
                                                        </devil>
                                                    </div>
                                                </div>

                                                <b-collapse :id="'fusion_'+index" accordion="fusion_accrodion" v-model="option.active" class="p-2">
                                                    <b-card no-body style="background-color:#eee">
                                                        <devil-bom-options :options="option.formulas" usage="fusion"></devil-bom-options>
                                                    </b-card>
                                                </b-collapse>
                                            </div>
                                            
                                        </div>
                                        
                                    </b-list-group-item>
                                </b-list-group>
                            
                            </b-card>

                        </b-tab>
                        

                    </b-tabs>
                </b-card>
            </b-tab>

            <!-- index_main : 1 // skill-->

            <b-tab no-body class="p-2">

                <b-card no-body>
                    <b-tabs pills card v-model="skillType_id" content-class="d-none">
                        <b-tab :title="type.showName()" v-for="type in skillTypes"></b-tab>
                    </b-tabs>

                    <skill-list :skills="skills_by_type"></skill-list>
                </b-card>

            </b-tab>

            <!-- index_main : 2 // customize-->

            <b-tab no-body class="p-2">
                
            </b-tab>

            <!-- index_main : 3 // search-->

            <b-tab no-body class="p-2">
                
                <b-card no-body class="mt-2" v-if="filtered_devils.length>0">
                    <devil-list :devils="filtered_devils" usage="fission"></devil-list>
                </b-card>

                <b-card no-body class="mt-2" v-if="filtered_skills.length>0">
                    <skill-list :skills="filtered_skills"></skill-list>
                </b-card>

            </b-tab>

            <!-- index_main : 4 // setting-->

            <b-tab no-body class="p-2">
            
                <div class="row no-gutters" style="background:url('images/theme/steven.png') no-repeat right center; background-size:auto 300px">
                    <div class="col-12 py-2">
                        <div class="font-weight-bold py-2">{{ $t('message.language') }}</div>
                        <div>
                            <b-form-radio-group id="lang"
                                buttons
                                button-variant="outline-info"
                                v-model="lang_value"
                                :options="lang_options"
                                name="lang_radio">
                                </b-form-radio-group>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="font-weight-bold py-2">{{ $t('message.downgrade_fusion') }}</div>
                        <div>
                            <b-form-radio-group id="lang"
                                buttons
                                button-variant="outline-info"
                                v-model="allow_down_grade"
                                name="lang_radio">
                                <b-form-radio value="0">{{ $t('message.deny') }}</b-form-radio>
                                <b-form-radio value="1">{{ $t('message.allow') }}</b-form-radio>
                                </b-form-radio-group>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="font-weight-bold py-2">{{ $t('message.prevent_unload') }}</div>
                        <div>
                            <b-form-radio-group id="lang"
                                buttons
                                button-variant="outline-info"
                                v-model="allow_prevent_unload"
                                name="lang_radio">
                                <b-form-radio value="0">{{ $t('message.deny') }}</b-form-radio>
                                <b-form-radio value="1">{{ $t('message.allow') }}</b-form-radio>
                                </b-form-radio-group>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="p-1 border rounded text-center" style="background-color:rgba(200, 200, 200, 0.5);">
                            <div class="small">
                            君は私が作った悪魔召喚プログラムを使ってるね<br>
                            もし君が秩序にも混沌にも偏らず<br>
                            中庸の道を往くのなら<br>
                            私が僅かばかりだが協力してあげよう<br><br>
                            人間が持つ価値を　可能性を　私に証明してくれ<br><br>
                            スティーヴン・ホーキング (1942-2018)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="small text-right">Version: {{ updated_at }}</div>
                </div>  
                    
            </b-tab>
        
        </b-tabs>

        <!-- footer -->

        <div class="row no-gutters justify-content-start align-items-center">
            <div class="col-auto p-2">
                <div class="font-weight-bold">
                    <b-badge :variant="gate_status_jp?'success':'secondary'">JP {{ gate_timer_jp }}</b-badge>
                    <b-badge :variant="gate_status_ch?'success':'secondary'">CH {{ gate_timer_ch }}</b-badge>
                </div>
            </div>
            <div class="col-auto p-2">
                <img v-if="orb.state" v-for="orb in orbs" :src="orb.icon" style="width:30px">
            </div>
<!--
            <div class="col-auto p-2">
                <b-form-radio-group id="lang"
                    buttons
                    button-variant="outline-info"
                    v-model="resource_id"
                    name="lang_radio" size="sm" :options="resource_options">
                </b-form-radio-group>
            </div>
        -->

        </div>

        <!-- Modal -->

        <b-modal id="modal_devil_info" size="lg" hide-header="true" ok-only="true" ok-title="CLOSE" ok-variant="secondary" footer-class="py-2">

            <div v-if="devil" v-for="devil in [info_target]">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <devil :devil="devil" usage="info"></devil>
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered table-sm my-0">
                            <tbody>
                                <tr>
                                    <td class="text-center align-middle">基本</td>
                                    <td>
                                        <div v-for="(skill, index) in devil.skills">
                                            <span class="small" v-b-popover.hover.top="skill.showHint()">{{skill.showName()}}</span>
                                        </div>
                                    </td>
                                </tr>
                        
                                <tr v-if="devil.skill4">
                                    <td class="text-center align-middle">覺醒</td>
                                    <td>
                                        <div v-for="(skill, index) in devil.skill4">
                                            <b-badge v-if="index==0" class="bg-secondary text-white">素体</b-badge>
                                            <b-badge v-if="index==1" class="bg-danger text-white">荒神</b-badge>
                                            <b-badge v-if="index==2" class="text-white" style="background:peru">加護</b-badge>
                                            <b-badge v-if="index==3" class="text-white" style="background:orchid">異能</b-badge>
                                            <b-badge v-if="index==4" class="bg-info text-white">防魔</b-badge>
                                            <span class="small" v-b-popover.hover.top="skill.showHint()">{{skill.showName()}}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-if="devil.skill5">
                                    <td class="text-center align-middle">特典</td>
                                    <td>
                                        <div v-for="(skill, index) in devil.skill5">
                                            <b-badge v-if="index==1" class="bg-danger text-white">荒神</b-badge>
                                            <b-badge v-if="index==2" class="text-white" style="background:peru">加護</b-badge>
                                            <b-badge v-if="index==3" class="text-white" style="background:orchid">異能</b-badge>
                                            <b-badge v-if="index==4" class="bg-info text-white">防魔</b-badge>
                                            <span class="small" v-if="index!=0" v-b-popover.hover.top="skill.showHint()">{{skill.showName()}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 col-md-10 col-xl-8">
                        <table class="table table-bordered table-sm my-0">
                            <thead>
                                <tr class="text-center">
                                    <th style="background:rgb(185, 185, 185)">物</th>
                                    <th style="background:rgb(219, 120, 120)">火</th>
                                    <th style="background:rgb(150, 220, 230)">冰</th>
                                    <th style="background:rgb(233, 230, 64)">雷</th>
                                    <th style="background:rgb(133, 240, 156)">衝</th>
                                    <th style="background:rgb(240, 236, 196)">破</th>
                                    <th style="background:rgb(218, 142, 221)">咒</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td v-for="ele in devil.elements">
                                        <span class="font-weight-bold">{{ele?ele:'ー'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
            </div>

        </b-modal>

    </div>

    <!--Vue Template-->

    <script id="skill-t" type="text/x-template">

        <b-card no-body class="border-secondary">
            
            <b-card-body class="p-2">                
                <div class="font-weight-bold">
                    {{ skill.showName() }}
                </div>
                <div class="small">
                    {{ $t('message.element') }}: {{ skill.type.showName() }} 
                    {{ skill.mp ? "MP: "+skill.mp : "" }} 
                    {{ skill.point ? $t('message.inherit') +": "+skill.point : "" }}
                </div>
            </b-card-body>

            <b-card-footer class="p-2">
                <div class="small">{{ skill.showDesc() }}</div>
            </b-card-footer>

        </b-card>

    </script>

    <script id="skill-list-t" type="text/x-template">

        <div class="row no-gutters">
            <div class="col-12" v-for="(skill, index) in skills"
                :class="{'col-md-6':!actives[index], 'col-lg-4':!actives[index], 'col-xl-3':!actives[index]}">
                <div class="row no-gutters">
                    <div class="col-12 p-2"
                    :class="{'col-md-6':actives[index], 'col-lg-4':actives[index], 'col-xl-3':actives[index]}">
                        <skill :skill="skill" v-b-toggle="'skill_'+index" style="cursor:pointer"></skill>
                    </div>
                </div>
                <b-collapse :id="'skill_'+index" accordion="skill_accrodion" v-model="actives[index]" class="px-2">
                    <b-card no-body>
                        <div class="row no-gutters">
                            <div class="col-12 p-2" v-for="devil in skill.devils"
                            :class="{'col-md-6':actives[index], 'col-lg-4':actives[index], 'col-xl-3':actives[index]}">
                                <devil :devil="devil" usage="skill" @click="click()" :skill="skill"></devil>
                            </div>
                        </div>
                    </b-card>
                </b-collapse>
            </div>
        </div>

    </script>

    <script id="devil-t" type="text/x-template">

        <b-card no-body class="border-secondary">
            
            <b-card-body class="p-2" @click="click()"
                :style="{backgroundImage:'url(\'images/devil/'+devil.icon+'\')',cursor:(usage=='fission'||usage=='builder')?'pointer':''}" 
                style="background-position:right;background-repeat:no-repeat;background-size:contain">
                <div class="font-weight-bold">
                    {{usage=='fusion'||usage=='fission'||usage=='info'||usage=='skill'?devil.race.showName():''}} {{ devil.showName() }}
                </div>
                <div class="small">
                    {{ devil.showGrade() }} {{ devil.showRarity() }}
                    <span class="ml-2" v-if="usage=='info'">AI: {{ devil.type }}</span>
                    <b-button v-if="usage=='fusion'||usage=='skill'" variant="info" size="sm" @click.stop="info()" class="font-weight-bold small py-0">⚝</b-button>
                    <span v-if="usage=='skill'">
                        <b-badge class="ml-2" variant="success" v-if="isSkillAvailable(0)">持有</b-badge>
                        <b-badge class="ml-2" variant="warning" v-if="isSkillAvailable(1)">繼承</b-badge>
                    </span>
                </div>
            </b-card-body>

            <b-card-footer class="p-1" v-if="usage=='fission'">
                <slot></slot>
                <b-button variant="info" size="sm" @click.stop="info()" class="font-weight-bold small">⚝</b-button>
            </b-card-footer>

        </b-card>

        
    </script>

    <script id="devil-list-t" type="text/x-template">

        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" v-for="devil in devils">
                
                <devil :devil="devil" :usage="usage" @click="click()" :skill="skill">
                    <b-button variant="sencondary" size="sm" @click="fusion(devil)" class="font-weight-bold small">{{ $t('message.normal_fusion') }}</b-button>
                    <b-button variant="warning" size="sm" @click="start_bom(devil)" class="font-weight-bold small">{{ $t('message.reverse_fusion') }}</b-button>
                </devil>

            </div>
        </div>

    </script>

    <script id="devil-bom-t" type="text/x-template">
    
        <b-card v-if="bom" no-body 
            :class="{'border-primary':bom.upgrade, 'border-danger':bom.downgrade,'border-dark':!(bom.upgrade||bom.downgrade)}"
            @click="click()">
            <div class="row no-gutters">
                <div v-for="devil in [bom.child1.devil,bom.child2.devil]" 
                    class="col-6 p-2"
                    :class="{'text-primary':bom.upgrade,'text-danger':bom.downgrade}"
                    :style="{backgroundImage:'url(\'images/devil/'+devil.icon+'\')',cursor:usage=='builder'?'pointer':''}" 
                    style="background-position:right;background-repeat:no-repeat;background-size:contain">
                        <div class="font-weight-bold">{{ devil.showName() }}</div>
                        <div class="small">{{ devil.showGrade() }} {{ devil.showRarity() }}</div>
                </div>
            </div>
            <b-card-footer class="p-1 text-right">
                <b-button variant="info" size="sm" @click.stop="info(bom.child1.devil)" class="font-weight-bold small py-0">⚝</b-button>
                <b-button variant="info" size="sm" @click.stop="info(bom.child2.devil)" class="font-weight-bold small py-0">⚝</b-button>
                <span v-if="bom.mag_pure!=bom.mag">
                    <b-badge variant="success"> 素体 </b-badge> 
                    <span class="small"> {{ bom.showMagPure() }}  </span>
                </span>
                <span v-if="bom.mag>0">
                    <b-badge variant="secondary"> MAG </b-badge> 
                    <span class="small">{{ bom.showMag() }} </span>
                </span>
            </b-card-footer>
        </b-card>

    </script>

    <script id="devil-bom-list-t" type="text/x-template">
    
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" v-for="bom in boms">
                <devil-bom :bom="bom" :usage="usage" @click="click()"></devi-bom>
            </div>
        </div>

    </script>

    <script id="devil-bom-builder-t" type="text/x-template">

        <div v-if="bom">
            <div class="row no-gutters justify-content-md-center pt-1">
                <div class="col-auto col-md align-self-center pr-md-1">
                    <hr v-if="bom.parent?bom.parent.child2==bom:false">
                </div>
                <div class="col-auto item">
                    <devil :devil="bom.devil" @click="list_bom(bom)" usage="builder" 
                        style="min-width:130px" :class="{'bg-warning':isCurrent(), 'text-primary':isParentCurrent()}"
                        v-b-popover.hover.top="bom.devil.race.showName()+' '+bom.devil.showName()+'\n'+$t('message.fusion_mag_others')+': '+bom.showMag()+'\n'+$t('message.fusion_mag_pure')+': '+bom.showMagPure()">
                    </devil>
                </div>
                <div class="col-auto col-md align-self-center pl-1">
                    <div class="row no-gutters">
                        <div class="col-auto pr-1" v-if="isCurrent()">
                            <b-button variant="info" size="sm" @click.stop="info()" class="font-weight-bold">⚝</b-button>
                        </div>
                        <div class="col-auto" v-if="isCurrent()&&hasChild()">
                            <b-button size="sm" @click="reset_bom(bom)" class="">✕</b-button>
                        </div>
                        <div class="col-auto" v-if="!isCurrent()&&(bom.child1||bom.child2)">
                            <b-button size="sm" @click="toggle()" class="">{{ collapsed_sign }}</b-button>
                        </div>
                        <div class="col align-self-center">
                            <hr v-if="bom.parent?bom.parent.child1==bom:false">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row no-gutters justify-content-md-center" v-if="!collapsed">
                <div class="col-12 col-md-auto pl-3 pl-md-0 border-left border-left-md-none" v-if="bom.child1">
                    <devil-bom-builder :bom="bom.child1"></devil-bom-builder>
                </div>
                <div class="col-12 col-md-auto pl-3 pl-md-0 border-left border-left-md-none" v-if="bom.child2">
                    <devil-bom-builder :bom="bom.child2"></devil-bom-builder>
                </div>
            </div>
        </div>

    </script>

    <script id="devil-bom-options-t" type="text/x-template">
        <div>
            <div v-for="option in options">
                <div class="row no-gutters">
                    <div class="col-12 p-2">
                        <h6 class="m-0">{{ option.name }}</h6>
                    </div>
                </div>
                <devil-bom-list :boms="option.boms" :usage="usage"></devil-bom-list>
            </div>
        </div>
    </script>

    <script src="js/app.js?t=180705"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71606599-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71606599-2');
</script>

</body>
</html>